.ant-switch-inner {
  display: flex !important;
  align-items: center;
  color: #333333 !important;
}

.ant-switch-checked {
  .ant-switch-inner {
    color: #fff !important;
  }
}

[data-theme="light"] .ant-layout .site-layout-background {
  background: #fff;
  transition: all 0.2s;
}
